<div class="content-view">
	<div class="geofence" >
		
			
		<div class="col-md-12 pad-0 map-container">
			<map zoom="{{vm.zoom || 11}}" styles="{{vm.mapStyles}}" center="{{vm.center_map_lat_lng}}" id="geofencing"
				zoom-control="false">
				<drawing-manager  on-overlaycomplete="vm.onMapOverlayCompleted('POST')" id="zonePolygon"
				ng-if="vm.showDrawingManager" 
				drawingControl="false"
				drawingMode="polygon"
				polygonOptions="{editable:true, draggable:false, strokeWeight: 1}">
				</drawing-manager>
				<shape ng-repeat="shape in vm.zones"  on-click="vm.updatePolygon(shape, $index)" id="{{$index}}" 

					z-index="{{ shape.type == vm.site_front.code ? 99 : shape.type == null ? 50 : shape.type == 'HUB' ? 4 : shape.type == 'DC' ? 3 : 1 }}"
					name="polygon" editable="{{shape.editable}}" stroke-color="{{vm.colors[$index]}}" stroke-opacity="1" path="{{shape.polygon}}"  paths="{{shape.polygon}}" center="{{shape.center}}"  
					stroke-weight="{{ shape.type == 'HUB' ? 5 : shape.type == 'DC' ? 1 : 0 }}" 
					fill-color="{{ (shape.type == 'HUB' || shape.type == 'DC') ? vm.colors[$index] : ''}}" 
				on-mouseup="vm.onMouseUp(shape,$index)"></shape>
			</map>	
			<div class="map-toolbar">
				<div class="col-md-12 no-padding">
					<div class="col-md-3 pad-0">
						<span class="text-white">Type:</span>
						<div class="btn-group dropbtn">
							<div class="btn-group" uib-dropdown auto-close="outSideClick">
								<button type="button" class="btn-default dropdown-toggle select-min-dd" uib-dropdown-toggle> 
									<span class="pull-left">
										<span ng-if="!vm.loadingHub">
											<i class="fa fa-building"></i>
											<span class="text-uppercase " ng-bind="vm.site_type.name"></span>	
										</span>
										<span ng-if="vm.loadingHub">
											<i class="fa fa-spinner fa-pulse"></i>
											<span  ng-bind="'Loading'"></span>	
										</span>						
									</span>
									<span class="caret caret-right"></span>
								</button>
								<div class="dropdown-menu dropdown-menu-2 box box-left drop-list-2" uib-dropdown-menu role="menu" >
									<ul class="drop-list-menu text-bold">
										<li role="menuitem" class="" ng-repeat="site_type in vm.site_types" ng-click="vm.selectType(site_type)" > 
											<a href="" class="text-uppercase" ng-bind="site_type.name"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-3 pad-0">
						
					</div>
					

					<div class="pull-right">
						<div class="btn-group">
							<button ng-if="vm.activated" class="btn-custom btn-default theme-d2" ng-show="!vm.showButton && !vm.showSaveChanges && !vm.zoneNotYetLoaded" ng-click="vm.addZone()">
								<i class="fa fa-plus"></i>
								Add Zone
							</button>
							<button class="btn-custom  btn-default" ng-show="vm.showSaveChanges" ng-click="vm.cancel()">
								Cancel
							</button>
							<button class="btn-custom  btn-default" ng-show="vm.showButton && !vm.notCompleted" ng-click="vm.clearPolygon()">
								<i class="fa fa-times"></i>
								Clear
							</button>
							<button class="btn-custom  btn-primary theme-d2" ng-disabled="vm.notCompleted" ng-show="vm.showButton && !vm.showSaveChanges" ng-click="vm.savePolygon()">
								<i class="fa fa-save"></i>Save
							</button>	

							<button class="btn-custom btn-primary theme-d2" ng-show="vm.showSaveChanges" ng-disabled="vm.overlap || vm.loadingSaveChanges" ng-click="vm.saveChanges(true)">
								<span ng-if="!vm.loadingSaveChanges">	<i class="fa fa-save"></i>Save Changes </span>
								<span ng-if="vm.loadingSaveChanges">	<i class="fa fa-pulse fa-spinner"></i> <em>Saving</em> </span>
							</button>
						</div>
						<div class="btn-group" uib-dropdown auto-close="disabled" is-open="vm.filterIsOpen" ng-click="vm.filterClose = !vm.filterIsOpen">
							<button type="button" class="btn-default dropdown-toggle" uib-dropdown-toggle >
								<i class="fa fa-search"></i> Filter <span class="caret"></span>
							</button>
							<div class="dropdown-menu dropdown-menu-2 dropdown-menu-right box box-right  drop-list drop-list-height-auto" role="menu" >
								<div class="col-md-12 top-margin-sm">
									<form class="materialize" novalidate>   
										<div class="form-group">
											<button type="button" ng-if="!vm.deactivated" title="View deactivated {{vm.titleHeader}}" class="btn btn-sm btn-primary" ng-click="vm.viewDeactivate(true)">
												<span ng-bind="'View Deactivated '+vm.titleHeader"></span>
											</button>
											<button type="button" ng-if="vm.deactivated" title="View active {{vm.titleHeader}}" class="btn btn-sm btn-primary" ng-click="vm.viewDeactivate(false)">
												<span ng-bind="'View Active '+vm.titleHeader"></span>
											</button>
										</div>
										<div class="form-group">
											<label for="site_id" class="control-label small text-theme">Include Unassigned:  </label>
											<input type="radio" ng-model="vm.includeUnassigned" ng-value="true" ng-click="vm.selectIncludeUnassigned(vm.includeUnassigned)" /> Yes 
											<input type="radio" ng-model="vm.includeUnassigned" ng-value="false" ng-click="vm.selectIncludeUnassigned(vm.includeUnassigned)" /> No
										</div>    
										<div class="form-group">
											<label for="site_id" class="control-label small text-theme">Select Front Zone:  </label>
											<select class="form-control" ng-change="vm.selectSiteFront(vm.site_front)" ng-options="site_front as site_front.name for site_front in vm.site_fronts"  ng-model="vm.site_front">
											</select>
										</div>
										<div class="form-group">
											<label for="site_id" class="control-label small text-theme">
												Select Site Name (<span ng-bind="vm.site_type.name"></span>): 
												<span ng-if="vm.loadingHub"> <i class="fa fa-spinner fa-pulse"></i> </span> 
											</label>
											<select class="form-control" ng-change="vm.selectSite(vm.site)" ng-options="site as site.name for site in vm.sites"  ng-model="vm.site">
											</select>
										</div>
										<div class="form-group">
											<button type="button" class="btn-custom  btn-primary theme-d2" ng-click="vm.filterIsOpen = false; vm.filterClose = true;">Close</button>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="btn-group" uib-dropdown auto-close="disabled">
							<button type="button" class="btn-default dropdown-toggle" uib-dropdown-toggle >
								<i class="fa fa-compass"></i>	Zones <span ng-bind="'(' + vm.zones.length+')'"></span>  <span class="caret"></span>
							</button>
							<div class="dropdown-menu dropdown-menu-2 dropdown-menu-right box box-right  drop-list" role="menu" >
								<form class="materialize margin-top" ng-submit="vm.search(vm.key)">
									<div class="col-md-12 pad-0" style="margin-bottom:0px;">
										<div class="col-md-11">
											<div class="inner-addon left-addon">
												<i class="fa fa-search"></i>
												<input type="text" class="form-control input-sm" name="Search" ng-disabled="vm.showButton || vm.showSaveChanges" ng-change="vm.resetSearch()" ng-model="zone" placeholder=" " required>
												<label for="Search" class="md-label" ng-click="vm.cancel()">Search</label>
											</div>
											<span class="text-red small" ng-if="vm.showButton || vm.showSaveChanges">Please click the cancel button (green) to enable search!</span>
											<span class="btn-reset" ng-show="vm.key" ng-click="vm.key='';vm.reset()">
												&times;
											</span>
										</div>		
										<div style="clear:both;"></div>
									</div>
									<div style="clear:both;"></div>
								</form>
								<ul class="list-group clearfix">	
									<div ng-show="vm.filteredZones[type.name].length > 0" ng-repeat="type in [{ name: 'HUB', code: 'HUB'}, { name: 'DC', code: 'DC'}, { name: 'UNASSIGNED', code: null}]">
										<div ng-bind="type.name" style="margin-top: 12px; margin-bottom: 12px;"></div> 
										<div ng-repeat="zone in vm.filteredZones[type.name] = (vm.zones | filter:zone | filter: { type: type.code } )">
											<li class="list-group-item" >
												<div class="pull-right" ng-show="zone.editable">
													<button class="btn-success btn-xs" title="Cancel" ng-click="vm.cancel()">
															<i class="fa fa-chevron-circle-left"></i>
													</button>	
													<span ng-if="vm.activated">
														<button class="btn-warning btn-xs" title="Update" ng-click="vm.saveChanges(false)">
															<i class="fa fa-edit"></i>
														</button>
														<button class="btn-danger btn-xs" title="Deactivate" ng-click="vm.handleActivation(vm.selectedZone, 'deactivate')">
															<i class="fa fa-ban"></i>
														</button>
													</span>	
													<span ng-if="!vm.activated">
														<button class="btn-warning btn-xs" title="Reactivate Zone" ng-click="vm.handleActivation(vm.selectedZone, 'reactivate')">
															<i class="fa fa-undo"></i>
														</button>
														<button class="btn-danger btn-xs" title="Delete Zone" ng-click="vm.handleActivation(vm.selectedZone, 'delete')">
															<i class="fa fa-trash"></i>
														</button>
													</span>											
													
												</div>
												<i ng-style="{ color: (zone.type == 'HUB' || zone.type == 'DC') ?  vm.colors[vm.zones.indexOf(zone)] : 'black' }" class="fa fa-fw fa-map-marker" aria-hidden="true" ></i>
												<a href="" ng-click="vm.updatePolygon($event, zone, vm.zones.indexOf(zone), true)" class="text-blue-grey text-bold" ng-bind="zone.code"></a>
											</li>
										</div>
									</div>
									
									
									<div class="text-center" ng-show="vm.filteredZones['HUB'].length == 0 && vm.filteredZones['DC'].length == 0 && vm.filteredZones['UNASSIGNED'].length == 0">
										<span class="center" ng-bind-html="vm.isLoading | handlefetch : 'zones'"></span>
									</div>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="map-toolbar-bottom clearfix">
				<div class="">
					<div class="col-md-4" >				
						<div class="col-md-4 btn-group text-white">
							<div ng-show="vm.showName">
								<span>Code: <span class="text-bold" ng-bind="vm.selectedZone.code"></span></span> <br>
								<span>Name: <span class="text-bold" ng-bind="vm.selectedZone.name"></span></span>
							</div>
						</div>	
						<div class="col-md-4 btn-group text-white">
							<div ng-show="vm.showName">
								<span>Site Type: <span class="text-bold" ng-bind="vm.selectedZone.type || 'Unassigned'"></span></span> <br>
								<span>Site Code: <span class="text-bold" ng-bind="vm.selectedZone.site_code || 'Unassigned'"></span></span>
							</div>
						</div>
						<div style="clear:both;"></div>			
					</div>
					<div class="col-md-4">
						<div class="btn-group padding" ng-show="vm.showName">
							<i ng-style="{ color: (vm.selectedZone.type == 'HUB' || vm.selectedZone.type == 'DC') ?  vm.colors[vm.shapeIndex] : 'black' }"  class="fa fa-fw fa-1x fa-map-marker shadow-white-color"></i>
							<button class="btn-success btn-xs" title="Cancel" ng-click="vm.cancel()">
								<i class="fa fa-chevron-circle-left"></i>
							</button>
							<span ng-if="vm.activated">
								<button class="btn-warning btn-xs" title="Update Details" ng-click="vm.saveChanges(false)">
									<i class="fa fa-edit"></i>
								</button>
								<button class="btn-danger btn-xs" title="Deactivate Zone" ng-click="vm.handleActivation(vm.selectedZone, 'deactivate')">
									<i class="fa fa-ban"></i>
								</button>
							</span>
							<span ng-if="!vm.activated">
								<button class="btn-warning btn-xs" title="Reactivate Zone" ng-click="vm.handleActivation(vm.selectedZone, 'reactivate')">
									<i class="fa fa-undo"></i>
								</button>
								<button class="btn-danger btn-xs" title="Delete Zone" ng-click="vm.handleActivation(vm.selectedZone, 'delete')">
									<i class="fa fa-trash"></i>
								</button>
							</span>
						</div>	
					</div>
					<div class="col-md-4">
						<div class="btn-group pull-right padding">
							<button type="button" class="btn btn-default btn-sm" ng-click="vm.zoomOut()" ng-disabled="vm.minZoom">
								<i class="fa fa-search-minus"></i>
							</button>
							<button type="button" class="btn btn-default btn-sm" ng-click="vm.resetZoom()">Reset</button>
							<button type="button" class="btn btn-default btn-sm" ng-click="vm.zoomIn()" ng-disabled="vm.maxZoom">
								<i class="fa fa-search-plus"></i>
							</button>
						</div>						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
