a {
    cursor: pointer !important;
    outline: none !important;
}

.logo-report{
	height: 40px;
    margin-top: 10px;
}
.center {
    text-align: center;
}
.margin-top {
    margin-top: 20px;
}
.modal-content {
    border-radius: 0;
}
.text-bold {
    font-weight: bold;
}
.margin-top-md {
    margin-top: 50px;
}
.text-red {
    color: red;
}
.text-orange {
    color: orange;
}
.text-blue, .hover-text-blue:hover {
    color: #2196F3!important;
}
.text-grey, .hover-text-grey:hover, .text-gray, .hover-text-gray:hover {
    color: #757575!important;
}
.text-green,.hover-text-green:hover{color:#4CAF50!important}
.blue-grey, .hover-blue-grey:hover, .blue-gray, .hover-blue-gray:hover, .label-default {
    color: #fff!important;
    background-color: #607d8b!important;
}
/*theme*/
.theme-l5 {
    color: #000 !important;
    background-color: #e9fffd !important;
}
.theme-l4 {
    color: #000 !important;
    background-color: #b7fff8 !important;
}
.theme-l3 {
    color: #000 !important;
    background-color: #6efff1 !important;
}
.theme-l2 {
    color: #000 !important;
    background-color: #26ffe9 !important;
}
.theme-l1 {
    color: #fff !important;
    background-color: #00dcc6 !important;
}
.theme-d1 {
    color: #fff !important;
    background-color: #008578 !important;
}
.theme-d2 {
    color: #fff !important;
    background-color: #1464b1 !important;
}
.theme-d3 {
    color: #fff !important;
    background-color: #00685d !important;
}
.theme-d4 {
    color: #fff !important;
    background-color: #005950 !important;
}
.theme-d5 {
    color: #fff !important;
    background-color: #004a43 !important;
}

.theme-light {
    color: #000 !important;
    background-color: #e9fffd !important;
}
.theme-dark {
    color: #fff !important;
    background-color: #004a43 !important;
}
.theme-action {
    color: #fff !important;
    background-color: #004a43 !important;
}

.theme {
    color: #fff !important;
    background-color: #0b65b1 !important;
}
.text-theme {
    color: #009688 !important;
}
.border-theme {
    border-color: #009688 !important;
}

.hover-theme:hover {
    color: #fff !important;
    background-color: #009688 !important;
}
.hover-text-theme:hover {
    color: #009688 !important;
}
.hover-border-theme:hover {
    border-color: #009688 !important;
}
.bg-primary,
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active.focus,
.btn-primary.active.focus,
.btn-primary.focus {
    color: #fff !important;
    background-color: #1464b1 !important;
}
.btn {
    border-radius: 0 !important;
    border: 0 !important;
    text-transform: uppercase;
}

.btn-fixed-width {
    width: 200px;
}

.btn-role-caret {
    margin-top: 3px;
}

/* .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: inherit;
    box-shadow: inherit; 
    opacity: .65;
} */

.btn-custom.disabled,
.btn-custom[disabled],
fieldset[disabled] .btn-custom {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.65;
}

.radio-btn.active {
    background: #3b6679 !important;
    color: #fff !important;
}

.materialize {
    position: relative;
}
.materialize .md-label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    /*left: 5px;*/
    top: 14px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.materialize input.form-control,
.materialize textarea.form-control {
    width: 100%;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #009688;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 96%,
        #009688 4%
    );
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 96%,
        #009688 4%
    );
    background-position: -1000px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #999;
}

.materialize input.form-control:focus,
.materialize input.form-control:not(:placeholder-shown),
.materialize textarea.form-control:focus,
.materialize textarea.form-control:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.materialize input[type='number']:valid ~ .md-label,
.materialize input[type='number']:focus ~ .md-label,
.materialize input.form-control:not(:placeholder-shown) ~ .md-label,
.materialize input[type='text'][readonly].form-control ~ .md-label,
.materialize textarea.form-control:focus ~ .md-label,
.materialize textarea.form-control[required]:valid ~ .md-label,
.materialize textarea.form-control:valid ~ .md-label,
.materialize textarea.form-control:not(:placeholder-shown) ~ .md-label,
.materialize textarea[type='text'][readonly].form-control ~ .md-label {
    top: -10px;
    font-size: 12px;
    color: #009688;
}
.materialize input.form-control {
    outline: none;
    box-shadow: none;
    border-radius: 0;
}
.materialize .col-md-12 {
    padding: 5px;
    margin-bottom: 30px;
}
.content {
    height: 100%;
}

.content-wrapper {
    color: #727272;
    position: relative;
    height: 100%;
}
.content-view {
    /* padding: 62px 0px 0px 15px; */
    padding: 50px 0px 0px 0px;
}
#wrapper {
    padding-left: 0;
    height: 100%;
}
.wrapper {
    margin-top: 80px;
}
.page-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
}

.sub-header {
    height: 50px;
    background-color: #065496;
}

.title-header-left {
    position: absolute;
    top: 20px;
    color: rgba(0, 0, 0, 0.4);
    left: 33px;
    z-index: 0;
}

.title-header-right {
    position: absolute;
    color: rgba(0, 0, 0, 0.4);
    right: 35px;
    top: 15px;
}
.subheader-title {
    position: absolute;
    margin-top: 8px;
    font-size: 24px !important;
}
.text-white {
    color: #fff !important;
}
tr.header_title th {
    color: #ddd;
    background-color: #49413b;
    font-size: 12px;
}

tr.header_input th {
    background-color: #f5f5f5;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #eaf7fb;
}
.table > tbody > tr > td {
    background: #fff !important;
    padding: 10px !important;
}
td,
button,
div {
    outline: none !important;
}
.top-margin-sm {
    margin-top: 20px;
}
.margin {
    margin: 8px;
}
.padding {
    padding: 8px;
}
.padding-lg {
    padding: 15px;
}

.img-con {
    position: relative;
    width: 50px;
    height: 50px;
}

.img-res {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}
.panel-primary > .panel-heading {
    background-color: #1464b1 !important;
}
.panel-primary {
    border-color: #ffffff !important;
    border-style: none !important;
}
.panel-heading {
    border-color: #a3a3a3 !important;
}

.panel-group .panel + .panel {
    margin-top: 0px !important;
}

.div-border {
    box-shadow: 0px 0px 5px 0px #a3a3a3;
}
.div-border-solid {
    border: solid 1px #cfcdcd;
}
.height-100 {
    height: 100%;
}
.radius-0,
.panel-group .panel,
ul li {
    border-radius: 0px !important;
}
.margin-0 {
    margin: 0px;
}
.relative-pos {
    position: relative;
}
.small-box {
    min-height: 100px !important;
}
.medium-box {
    min-height: 300px !important;
}
.bg-secondary {
    background-color: #607d8b !important;
}
.bg-success {
    background-color: #4caf4f !important;
}
.bg-danger {
    background-color: #e51c23 !important;
}
.large {
    font-size: 18px !important;
}

/* is-flex for matching column heights */
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/***************Scrollable**************************/
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}
.scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #f5f5f5;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 2px solid #555;
}
body.scroll::-webkit-scrollbar {
    width: 6px;
}

.scrollable-menu {
    height: auto;
    max-height: 480px;
    overflow-x: hidden;
}
.scrollable-menu .scroll-items:last-child li.divider {
    display: none;
}
/****************************************************/

/***************Button Circle, Fixed ****************/
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.btn-circle-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle:focus,
.btn-circle-lg:focus,
.btn-circle-xl:focus {
    outline: none !important;
}

.btn-fixed,
.btn-fixed:hover {
    border: 0;
    position: absolute;
    right: 15px;
    top: 75px;
    background: #212121 !important;
}

.btn-trans,
.btn-trans:focus,
.btn-trans:active {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/******************************************************/

.container-md-height {
    min-height: 400px !important;
}

/***************Scrollable**************************/
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}
.scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #f5f5f5;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 2px solid #555;
}
body.scroll::-webkit-scrollbar {
    width: 6px;
}

.scrollable-menu {
    height: auto;
    max-height: 480px;
    overflow-x: hidden;
}
.scrollable-menu .scroll-items:last-child li.divider {
    display: none;
}
/****************************************************/

/***************Button Circle, Fixed ****************/
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.btn-circle-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle:focus,
.btn-circle-lg:focus,
.btn-circle-xl:focus {
    outline: none !important;
}

.btn,
.btn-circle:focus,
.btn-circle-lg:focus,
.btn-circle-xl:focus,
.close {
    outline: none !important;
}

.btn {
    text-transform: uppercase;
    border: none;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-trans,
.btn-trans:focus,
.btn-trans:active {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/******************************************************/

/***************Geofence ****************/

.map-container {
    height: 95vh;
    position: absolute;
    width: 100%;
    padding: 0;
    /* margin-top: 30px; */
}

.map-container map {
    /*position:absolute;*/
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}

.geofence-map {
    height: 80vh;
}
.geofence-map map {
    height: 100%;
}

.map-toolbar {
    position: absolute;
    background: rgba(58, 56, 56, 0.89);
    top: 0;
    width: 100%;
    padding: 20px;
}
.map-toolbar-sm {
    position: absolute;
    background: rgba(58, 56, 56, 0.89);
    padding: 10px;
    z-index: 2;
    width: 100%;
    color: #fff;
}
.map-toolbar-bottom {
    /* position: absolute; */
    position: fixed;
    width: 100%;
    padding: 10px;
    /* bottom:1px; */
    bottom: 0px;
    clear: both;
    margin-bottom: 0;
    background: rgba(58, 56, 56, 0.89);
}

.pulse {
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF9800;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(255, 193, 7, 0.92);
    animation: pulse 2s infinite;
    position: relative;
    right: 0;
    /* left: -8px; */
    top: 19px;
}
.pulse-container {
	position: relative;
}

/*animation pulse*/
@-webkit-keyframes pulse {
	0% {
	-webkit-box-shadow: 0 0 0 0 rgba(255, 152, 0, 0.85);
	}
	70% {
		-webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}
@keyframes pulse {
	0% {
	-moz-box-shadow: 0 0 0 0 rgba(255, 152, 0, 0.85);
	box-shadow: 0 0 0 0 rgba(255, 152, 0, 0.85);
	}
	70% {
		-moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
		box-shadow: 0 0 0 10px rgba(204,169,44, 0);
	}
	100% {
		-moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
		box-shadow: 0 0 0 0 rgba(204,169,44, 0);
	}
}


/******************************************************/

/***************Dropdown ****************/

.select-dd {
    min-width: 200px;
}

.select-min-dd {
    min-width: 95px;
}

.caret-right {
    float: right;
    margin-top: 10px;
}

.drop-list {
    margin-top: 21px !important;
    width: 300px;
    height: 500px;
}

.drop-list-height-auto {
    height: auto;
}

.drop-list-menu {
    list-style: none;
    overflow-y: scroll;
    padding: 10px;
    height: 200px;
    min-width: 200px;
}

.drop-list-menu li {
    padding: 5px;
    cursor: pointer;
}
.drop-list-menu li:hover {
    background: rgba(58, 56, 56, 0.2);
}
.drop-list .list-group {
    overflow-y: scroll;
    height: 390px;
    clear: both;
    padding: 10px;
}

.box:after, .box:before {
    bottom: 100%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.box-right:after,
.box-right:before {
    right: 20px;
}

.box-left:after, .box-left:before {
    left: 19px;
}

.box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
}
.box:before {
    border-color: rgba(255, 255, 255, 0);
    /* border-bottom-color: #ffffff;
    border-width: 10px; */
    margin-left: -13px;
}



/* .open > .dropdown-menu-2,
.open > .dropdown-menu-3 {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
.dropdown-menu-2,
.dropdown-menu-3 {
  margin: 0;
  opacity:0;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  display: block; 
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
} */

.drop-list-2 {
    margin-top: 20px !important;
}
.drop-list .list-group-item,
.drop-list-2 .list-group-item {
    padding: 5px;
}

.dropdown-menu-force-left {
    left: 0px!important;
}

/******************************************************/

/*****************Scroll***************************/
::-webkit-scrollbar {
    width: 2px;
    height: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

/******************************************************/

/******************pad**********************/
.pad-0 {
    padding: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}
.accord .panel-body {
    padding: 0px 15px !important;
}
/******************************************************/

/******************add-on**********************/
.inner-addon {
    position: relative;
    padding: 5px 0px 0px 25px;
}
.left-addon .form-control {
    padding-left: 30px;
}
.left-addon .fa {
    left: -11px;
}
.right-addon .fa {
    right: 0px;
}
.inner-addon .fa {
    position: absolute;
    color: #00aac1;
    padding: 14px;
    pointer-events: none;
}
/******************************************************/

/*********************None CSS***************************/
.text-italic {
    font-style: italic;
}
.low-opacity {
    opacity: 0.5;
}
/******************************************************/

.img-placeholder {
    width: 250px;
    min-height: 250px;
    border: #dddddd solid 5px;
}
.img-placeholder img[class] {
    width: 100%;
}
.img-placeholder img {
    object-fit: cover !important;
    height: 250px;
}

.img-placeholder span {
    position: absolute;
    top: 35%;
    left: 30%;
}
/******************************************************/

/*********************List Group***************************/
.list-group-h {
    margin: 0;
}
.list-group-h:after {
    clear: both;
    display: block;
    content: '';
}

.list-group-h .hr {
    float: left;
    padding: 3px;
    border-radius: 0;
    background: transparent;
    border: 0;
    color: #fff;
    cursor: default;
}
.list-group-h .btn-trans {
    margin: 2px;
}

.list-group-h .btn-trans {
    margin: 2px;
}

.btn-trans,
.transparent .btn-trans:focus,
.transparent:focus .btn-group .btn-trans:active,
.transparent:active {
    background: transparent !important;
    border: 0 !important;
    padding: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/* select, select.form-control {
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-left: 0;
    padding-right: 0\9;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAJ1BMV…3X6xt0QL6JpZWq30pdvdadme+0PMdzvHm8YThHcT1H7K0BtOMDniZhWOgAAAAASUVORK5CYII=);
    -webkit-background-size: 13px 13px;
    background-size: 13px;
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
    font-size: 16px;
    line-height: 1.5;
} */

/******************************************************/

/***************Stroke CSS **************/
.shadow-white-color {
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255,255,255,0.2); */

    /* -webkit-text-stroke: 1px black; */
    /* color: white; */
    text-shadow: 0px 3px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
        -1px 1px 0 #fff, 1px 1px 0 #fff;
}

/******************************************************/

/***************UI SREF DIRECTIVE CSS CLASS **************/
.no-link-decorate, .no-link-decorate:hover, .no-link-decorate:active, .no-link-decorate:visited  {
    color: inherit;
    text-decoration: none;
    cursor: default;
}
/******************************************************/

/***************print*************************/


.printable {
	padding: 20px;
	font-size: 12px;
	border-bottom: dashed 2px #ddd;
	padding-bottom: 40px;
}
.printable table th {
	width: 100px;
	padding: 0 10px;
	line-height: 1;
    border-bottom: solid 1px #ddd;
}

.print-table-2>tbody>tr>td{
	padding: 5px;
}

.print-container {
	border-bottom: dashed 2px #ddd;
}

.blank section {
	width: 200px;
	border-bottom: 1px solid #444;
	padding: 3px;
}
.right {
	float:right;
}
.retDoc {width: 500px !important;}
.table-sm td{
	padding:5px;
	color: #888888;
}
.blank-md {
	border-bottom: solid 1px #dddddd;
	width: 250px;
	margin:20px auto 10px;
}
.print-container {
	border-bottom: dashed 2px #ddd;
}
.width-300 {
    width: 300
}
.light-text, .print-tables {
    color: #888888;
}

@media print {

	.printable {
		font-size: 12px;
	}
	.retDoc {width: 500px !important;}
	.printable,
	.print-container  {
 		page-break-after: always;
 		border:0;
	 }
}
@media all {
 .page-break { display: none; }
}
/***********************************************/


/*************************Assignments Couriers List CSS **********/
.top-right {
	position: absolute;
    padding: 10px;
    top: 120px;
    clear: both;
    margin-bottom: 0;
    right: 2px;
}

.expandable {
	transition: all 0.7s ease;
	width: 300px;
	height: 60vh;
	position: relative;
	overflow: hidden;
	float: right;
	background: rgba(0, 0, 0, 0.52);
}
.expand-header {
	color:#fff;
	padding:11px 12px 9px;
	background: rgba(0, 0, 0, 0.52);

}
.expand-header i {
	cursor: pointer;
}
.expand {
    width: 47px;
    height: 46px;
    border-radius: 23px;
	transition: all 0.7s ease;
}
.expand .expand-header {
	background: transparent;
}
.expand-header-label {
	color:#fff;
	position: absolute;
	top: 11px;
	left: 11px;
}
.expand-body {
	height: 60vh;
	overflow-y: scroll;
	background: rgba(0, 0, 0, 0.39);
	position: relative;
}



.day-number {
    font-size: 4em;
    display: inline-block;
    margin-right: 15px;
  }
  
  .date-right {
    display: inline-block;
  }
  
  .day-name {
    font-size: 1.6em;
  }
  
  .month {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.6em;
    letter-spacing: 2px;
    margin-top: 2px;
  }
  
  .timeline ul {
    padding: 1em 0 0 2em;
    margin: 0;
    list-style: none;
    position: relative;
  }
  .timeline ul::before {
    content: ' ';
    height: 100%;
    width: 1px;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    left: 2.5em;
    z-index: 0;
  }
  .timeline li div {
    display: inline-block;
    margin: 1em 0;
    vertical-align: top;
  }
  .timeline .bullet {
      width: 23px;
      height: 23px;
      cursor: pointer;
      box-sizing: border-box;
      border-radius: 4px;
      background: #fff;
      z-index: 1;
      margin-left: -3px;
      position: absolute;
      text-align: center;
      box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.38);
      color: #fff;
  }
  .map-marker {
      position: relative;
  }
  .bullet-marker {
      width: 23px;
      height: 23px;
      cursor: pointer;
      color: #fff;
      text-align: center;
      padding-top: 5px;
      position: absolute;
      right: 0;
      left: -10px;
  }
  .timeline .pink-bullet,
  .map-marker .pink-bullet {
      background: #F93B69 !important;
  }
  .circular {
      border-radius: 11.5px !important;
  }
  
  .timeline .grey-bullet,
  .map-marker .grey-bullet {
      background: #607D8B !important;
      border-radius: 4px;
  }
  .map-marker .grey-bullet:after {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(96, 125, 139, 0);
      border-top-color: #607D8B;
      border-width: 4px;
      margin-left: -4px;
  }
  .bullet-text {
      font-size: 10px;
  }
  .timeline .time {
      width: 20%;
      font-size: 0.75em;
      padding-top: 0.25em;
      margin-left: 25px;
      color:#b7b4b4;
  }
  .timeline .desc {
      width: 65%;
  }
  .timeline h3 {
      font-size: 13px;
      font-weight: 500;
      margin: 0;
      cursor: pointer;
      color: #cecece;
  }
  .timeline h4 {
      margin: 0;
      font-size: 0.7em;
      font-weight: 400;
      color: #b7b4b4;
  }
  .timeline .status {
      margin: 12px 0;
      color:#fff;
  }

/***********************************************/

