a {
    cursor: pointer !important;
    outline: none !important;
}
.center {
    text-align: center;
}
.margin-top {
    margin-top: 20px;
}
.modal-content {
    border-radius: 0;
}
.text-bold {
    font-weight: bold;
}
.margin-top-md {
    margin-top: 50px;
}
.text-red {
    color: red;
}
/*theme*/
.theme-l5 {
    color: #000 !important;
    background-color: #e9fffd !important;
}
.theme-l4 {
    color: #000 !important;
    background-color: #b7fff8 !important;
}
.theme-l3 {
    color: #000 !important;
    background-color: #6efff1 !important;
}
.theme-l2 {
    color: #000 !important;
    background-color: #26ffe9 !important;
}
.theme-l1 {
    color: #fff !important;
    background-color: #00dcc6 !important;
}
.theme-d1 {
    color: #fff !important;
    background-color: #008578 !important;
}
.theme-d2 {
    color: #fff !important;
    background-color: #00766a !important;
}
.theme-d3 {
    color: #fff !important;
    background-color: #00685d !important;
}
.theme-d4 {
    color: #fff !important;
    background-color: #005950 !important;
}
.theme-d5 {
    color: #fff !important;
    background-color: #004a43 !important;
}

.theme-light {
    color: #000 !important;
    background-color: #e9fffd !important;
}
.theme-dark {
    color: #fff !important;
    background-color: #004a43 !important;
}
.theme-action {
    color: #fff !important;
    background-color: #004a43 !important;
}

.theme {
    color: #fff !important;
    background-color: #0b65b1 !important;
}
.text-theme {
    color: #009688 !important;
}
.border-theme {
    border-color: #009688 !important;
}

.hover-theme:hover {
    color: #fff !important;
    background-color: #009688 !important;
}
.hover-text-theme:hover {
    color: #009688 !important;
}
.hover-border-theme:hover {
    border-color: #009688 !important;
}
.bg-primary,
.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active.focus,
.btn-primary.active.focus,
.btn-primary.focus {
    color: #fff !important;
    background-color: #1464b1 !important;
}
.btn {
    border-radius: 0 !important;
    border: 0 !important;
    text-transform: uppercase;
}

.materialize {
    position: relative;
}
.materialize .md-label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    /*left: 5px;*/
    top: 14px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.materialize input.form-control,
.materialize textarea.form-control {
    width: 100%;
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #009688;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(
        top,
        rgba(255, 255, 255, 0) 96%,
        #009688 4%
    );
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 96%,
        #009688 4%
    );
    background-position: -1000px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #999;
}

.materialize input.form-control:focus,
.materialize input.form-control:not(:placeholder-shown),
.materialize textarea.form-control:focus,
.materialize textarea.form-control:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.materialize input[type='number']:valid ~ .md-label,
.materialize input[type='number']:focus ~ .md-label,
.materialize input.form-control:not(:placeholder-shown) ~ .md-label,
.materialize input[type='text'][readonly].form-control ~ .md-label,
.materialize textarea.form-control:focus ~ .md-label,
.materialize textarea.form-control[required]:valid ~ .md-label,
.materialize textarea.form-control:valid ~ .md-label,
.materialize textarea.form-control:not(:placeholder-shown) ~ .md-label,
.materialize textarea[type='text'][readonly].form-control ~ .md-label {
    top: -10px;
    font-size: 12px;
    color: #009688;
}
.materialize input.form-control {
    outline: none;
    box-shadow: none;
    border-radius: 0;
}
.materialize .col-md-12 {
    padding: 5px;
    margin-bottom: 30px;
}
.content {
    height: 100%;
}

.content-wrapper {
    color: #727272;
    position: relative;
    height: 100%;
}
.content-view {
    /* padding: 62px 0px 0px 15px; */
    padding: 50px 0px 0px 0px;
}
#wrapper {
    padding-left: 0;
    height: 100%;
}
.wrapper {
    margin-top: 80px;
}
.page-wrapper {
    width: 100%;
    height: 100%;
    padding: 0;
}

.sub-header {
    height: 50px;
    background-color: #065496;
}

.title-header-left {
    position: absolute;
    top: 20px;
    color: rgba(0, 0, 0, 0.4);
    left: 33px;
    z-index: 0;
}

.title-header-right {
    position: absolute;
    color: rgba(0, 0, 0, 0.4);
    right: 35px;
    top: 15px;
}
.subheader-title {
    position: absolute;
    margin-top: 8px;
    font-size: 24px !important;
}
.text-white {
    color: #fff !important;
}
tr.header_title th {
    color: #ddd;
    background-color: #49413b;
    font-size: 12px;
}

tr.header_input th {
    background-color: #f5f5f5;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #eaf7fb;
}
.table > tbody > tr > td {
    background: #fff !important;
    padding: 10px !important;
}
td,
button {
    outline: none !important;
}
.top-margin-sm {
    margin-top: 20px;
}
.margin {
    margin: 8px;
}
.padding {
    padding: 8px;
}
.padding-lg {
    padding: 15px;
}

.img-con {
    position: relative;
    width: 50px;
    height: 50px;
}

.img-res {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}
.panel-primary > .panel-heading {
    background-color: #1464b1 !important;
}
.panel-primary {
    border-color: #ffffff !important;
    border-style: none !important;
}
.panel-heading {
    border-color: #a3a3a3 !important;
}

.div-border {
    box-shadow: 0px 0px 5px 0px #a3a3a3;
}
.div-border-solid {
    border: solid 1px #cfcdcd;
}
.height-100 {
    height: 100%;
}
.radius-0 {
    border-radius: 0px !important;
}
.margin-0 {
    margin: 0px;
}
.relative-pos {
    position: relative;
}
.small-box {
    min-height: 100px !important;
}
.medium-box {
    min-height: 300px !important;
}
.bg-secondary {
    background-color: #607d8b !important;
}
.bg-success {
    background-color: #4caf4f !important;
}
.bg-danger {
    background-color: #e51c23 !important;
}

/* is-flex for matching column heights */
.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/***************Scrollable**************************/
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}
.scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #f5f5f5;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 2px solid #555;
}
body.scroll::-webkit-scrollbar {
    width: 6px;
}

.scrollable-menu {
    height: auto;
    max-height: 480px;
    overflow-x: hidden;
}
.scrollable-menu .scroll-items:last-child li.divider {
    display: none;
}
/****************************************************/

/***************Button Circle, Fixed ****************/
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.btn-circle-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle:focus,
.btn-circle-lg:focus,
.btn-circle-xl:focus {
    outline: none !important;
}

.btn-fixed,
.btn-fixed:hover {
    border: 0;
    position: absolute;
    right: 35px;
    top: 75px;
    background: #212121 !important;
}

.btn-trans,
.btn-trans:focus,
.btn-trans:active {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
/******************************************************/

.container-md-height {
    min-height: 400px !important;
}

/***************Scrollable**************************/
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}
.scroll::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #f5f5f5;
}
.scroll::-webkit-scrollbar-thumb {
    background-color: #000;
    border: 2px solid #555;
}
body.scroll::-webkit-scrollbar {
    width: 6px;
}

.scrollable-menu {
    height: auto;
    max-height: 480px;
    overflow-x: hidden;
}
.scrollable-menu .scroll-items:last-child li.divider {
    display: none;
}
/****************************************************/

/***************Button Circle, Fixed ****************/
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}
.btn-circle-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}
.btn-circle-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle:focus,
.btn-circle-lg:focus,
.btn-circle-xl:focus {
    outline: none !important;
}

.btn,
.btn-circle:focus,
.btn-circle-lg:focus,
.btn-circle-xl:focus,
.close {
    outline: none !important;
}

.btn {
    text-transform: uppercase;
    border: none;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-fixed,
.btn-fixed:hover {
    border: 0;
    position: absolute;
    right: 35px;
    top: 75px;
    background: #212121 !important;
}

.btn-trans,
.btn-trans:focus,
.btn-trans:active {
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

/******************************************************/

/***************Geofence ****************/

.map-container {
    height: 95vh;
    position: absolute;
    width: 100%;
    padding: 0;
    /* margin-top: 30px; */
}

.map-container map {
    /*position:absolute;*/
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}

.geofence-map {
    height: 80vh;
}
.geofence-map map {
    height: 100%;
}

.map-toolbar {
    position: absolute;
    background: rgba(58, 56, 56, 0.89);
    top: 0;
    width: 100%;
    padding: 20px;
}
.map-toolbar-sm {
    position: absolute;
    background: rgba(58, 56, 56, 0.89);
    padding: 10px;
    z-index: 2;
    width: 100%;
    color: #fff;
}
.map-toolbar-bottom {
    /* position: absolute; */
    position: fixed;
    width: 100%;
    padding: 10px;
    /* bottom:1px; */
    bottom: 0px;
    clear: both;
    margin-bottom: 0;
    background: rgba(58, 56, 56, 0.89);
}

/******************************************************/

/***************Dropdown ****************/

.select-dd {
    min-width: 200px;
}

.caret-right {
    float: right;
    margin-top: 10px;
}

.drop-list {
    margin-top: 21px !important;
    width: 300px;
    height: 500px;
}

.drop-list-menu {
    list-style: none;
    overflow-y: scroll;
    padding: 10px;
    height: 200px;
    min-width: 200px;
}

.drop-list-menu li {
    padding: 5px;
    cursor: pointer;
}
.drop-list-menu li:hover {
    background: rgba(58, 56, 56, 0.2);
}
.drop-list .list-group {
    overflow-y: scroll;
    height: 390px;
    clear: both;
    padding: 10px;
}
/* .open > .dropdown-menu-2,
.open > .dropdown-menu-3 {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);  
  opacity:1;
}
.dropdown-menu-2,
.dropdown-menu-3 {
  margin: 0;
  opacity:0;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;  
  animation-fill-mode: forwards; 
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  display: block; 
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
} */

/* .drop-list-2{
	margin-top: 20px !important;
}
.drop-list .list-group-item,
.drop-list-2 .list-group-item{
	padding: 5px;
} */

/******************************************************/

/*****************Scroll***************************/
::-webkit-scrollbar {
    width: 2px;
    height: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

/******************************************************/

/******************pad**********************/
.pad-0 {
    padding: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 0px !important;
}
/******************************************************/

/******************add-on**********************/
.inner-addon {
    position: relative;
    padding: 5px 0px 0px 25px;
}
.left-addon .form-control {
    padding-left: 30px;
}
.left-addon .fa {
    left: -11px;
}
.right-addon .fa {
    right: 0px;
}
.inner-addon .fa {
    position: absolute;
    color: #00aac1;
    padding: 14px;
    pointer-events: none;
}
/******************************************************/

/*********************None CSS***************************/
.text-italic {
    font-style: italic;
}
.low-opacity {
    opacity: 0.5;
}
/******************************************************/
