<div class="modal-header bg-primary">
    <span class="text-uppercase lead" ng-bind="vm.titleHeader"></span>
    <button type="button" class="close" ng-click="vm.cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body top-margin-sm">
    <form name="nameForm" class="materialize">
        <div class="clearfix">
            <div class="form-group">
                <label for="site_type" class="control-label small text-theme">Site Type </label>
                <select ng-change="vm.changeSiteType(item)" class="form-control" ng-options="item.code as item.name for item in vm.site_types" ng-model="vm.site_type" name="site_type">
                </select>
                <span class="text-red small" ng-show="zoneForm.site_type.$invalid && vm.submitted">* Required</span>
            </div>
            <div class="form-group">
                <label for="zone_name" class="control-label small text-theme">Site:</label>
                <select class="form-control" ng-options="item.id as item.code for item in vm.sites" ng-model="vm.data.site_id" name="site_id" required>
                </select>
                <span class="text-red font-10" ng-show="nameForm.site_id.$invalid && vm.submitted">*Required</span>
            </div>
            <div class="form-group" >
                <label for="plate_number" class="control-label small text-theme">Plate Number: </label>
                <input type="text" ng-model="vm.data.plate_number" class="form-control" placeholder="Plate Number" id="plate_number" name="plate_number" ng-required="true" >
                <span class="text-red font-10" ng-show="nameForm.plate_number.$invalid && vm.submitted">*Required</span>
            </div>
            <div class="form-group">
                <label for="model" class="control-label small text-theme">Model:</label>
                <input type="text"  ng-model="vm.data.model" class="form-control" placeholder="Model" id="model" name="model" ng-required="true" >
                <span class="text-red font-10" ng-show="nameForm.model.$invalid && vm.submitted">*Required</span>
            </div>
            <div class="form-group">
                <label for="zone_name" class="control-label small text-theme">Type:</label>
                <select class="form-control" ng-options="item.value as item.name for item in vm.types" ng-model="vm.data.type" name="type" required>
                </select>
                <span class="text-red font-10" ng-show="nameForm.type.$invalid && vm.submitted">*Required</span>
            </div>
            <div class="form-group">
                <label for="model" class="control-label small text-theme">Weight:</label>
                <input type="text" numbers-only ng-model="vm.data.max_weight" class="form-control" placeholder="Weight (kg)" id="max_weight" name="max_weight" ng-required="true" >
                <span class="text-red font-10" ng-show="nameForm.max_weight.$invalid && vm.submitted">*Required</span>
            </div>
            <div class="form-group">
                <label for="model" class="control-label small text-theme">Volume:</label>
                <input type="text" numbers-only ng-model="vm.data.max_volume" class="form-control" placeholder="Volume" id="max_volume" name="max_volume" ng-required="true" >
                <span class="text-red font-10" ng-show="nameForm.max_volume.$invalid && vm.submitted">*Required</span>
            </div>
            
        </div>
        <div class="text-center top-margin-sm clearfix">
            <button type="button" class="btn btn-default" ng-disabled="vm.disable" ng-click="vm.cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-disabled="vm.disable" ng-click="vm.submitted=true; nameForm.$valid && vm.save(vm.data)" >Save &amp; Close</button>
        </div>
    </form>
</div>
