<div class="content-view">
    <div class="col-md-12 sub-header">
        <span class="subheader-title text-white" ng-bind="vm.titleHeader"></span><br />
    </div> 
    <div class="col-md-12 top-margin-sm">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button class="btn btn-primary">
                    <i class="fa fa-chevron-circle-left"></i> Back
                </button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" align="right">
                <button class="btn btn-primary">
                    <i class="fa fa-calendar"></i> Select Date
                </button>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-3 col-sm-3 col-xs-12 top-margin-sm">
                <div class="col-md-12 div-border padding-lg container-md-height" align="center">
                    <i class="fa fa-user-circle fa-5x"></i>
                </div>
                <div>
                    
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 top-margin-sm">
                <div class="col-md-12 container-md-height">
                    <div class="row">
                        <div class="panel panel-primary panel-cust">
                            <div class="panel-heading">Panel with panel-primary class</div>
                            <div class="panel-body">Panel Content</div>
                        </div>
                    </div>
                </div>
                <div>
                    
                </div>
            </div>
        </div> 
        <!-- <ul class="list-group margin-top">
            <li class="list-group-item clearfix">
                <span class="col-md-3">Plate Number : </span> 
                <span class="text-bold ng-binding" ng-bind="vm.data.id">WID206</span> 
                
            </li>	
            <li class="list-group-item clearfix">
                <span class="col-md-3">Model : </span> 
                <span class="text-bold ng-binding" ng-bind="vm.data.model">L-300 FB</span> 
            </li>	
            <li class="list-group-item clearfix">
                <span class="col-md-3">Courier : </span> 
                <a href="#!/courier?id=883" ui-sref="app.courier({id:vm.data.courierId})" class="text-bold text-primary ng-binding ng-scope" ng-if="vm.data.lastName" ng-bind="vm.data.lastName +', '+ vm.data.firstName">ACHIVIDA, JOSE REXIE</a>
            </li>
            <li class="list-group-item clearfix">
                <span class="col-md-3">Max Weight (KG): </span> 
                <span ng-bind="vm.data.maxWeight" class="ng-binding">1000</span> 
            </li>
            <li class="list-group-item clearfix">
                <span class="col-md-3">Max Dimension (CBM) : </span>  
                <span ng-bind="vm.data.maxDimension" class="ng-binding">4</span> 
            </li>
        </ul>
        <ul class="list-group"> 
            <p class="medium">Utilization</p>
            <li class="list-group-item clearfix">
                <span class="col-md-3">Weight (KG): </span> 
                <span ng-bind="vm.totalW + vm.totalPW | number:2" class="ng-binding">0.00</span>
                <span ng-bind="'/ ' + vm.data.maxWeight" class="ng-binding">/ 1000</span> 
                <span class="text-bold margin-left ng-binding">
                    ()
                </span> 
            </li>
            <li class="list-group-item clearfix">
                <span class="col-md-3">Dimension (CBM) : </span>  
                <span ng-bind="vm.totalD + vm.totalPD | number:2" class="ng-binding">0.00</span>
                <span ng-bind="'/ ' + vm.data.maxDimension" class="ng-binding">/ 4</span> 
                <span class="text-bold margin-left ng-binding">
                    ()
                </span> 
            </li>	
        </ul> -->
    </div>
</div>