<div class="content-view">
    <div class="col-md-12 sub-header">
        <span class="subheader-title text-white" ng-bind="vm.titleHeader"></span><br />
    </div> 
    <div class="col-md-12 top-margin-sm">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button class="btn btn-primary">
                    <i class="fa fa-chevron-circle-left"></i> Back
                </button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6" align="right">
                <button class="btn btn-primary">
                    <i class="fa fa-calendar"></i> Select Date
                </button>
            </div>    
        </div>
        <div class="clearfix"></div>
        <div class="row is-flex">
            <div class="col-md-3 col-sm-4 col-xs-12 top-margin-sm relative-pos">
                <div class="col-md-12 div-border padding-lg height-100">
                    <div class="col-md-12" align="center">
                        <div class="row">
                            <i class="fa fa-user-circle fa-5x"></i> 
                            <h3>Ruru Magana</h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="row">
                        <div class="col-md-5 col-sm-5 col-xs-5 padding-lg" align="right">
                            <i class="fa fa-id-card"></i>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 padding-lg">
                            <span>RMAGANA</span>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5 padding-lg" align="right">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 padding-lg">
                            <span>+639284765882</span>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5 padding-lg" align="right">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 padding-lg">
                            <span>ABE 999</span>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-5 padding-lg" align="right">
                            <i class="fa fa-map"></i>
                        </div>
                        <div class="col-md-7 col-sm-7 col-xs-7 padding-lg">
                            <span>zone-001</span>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12 top-margin-sm relative-pos">
                <div class="col-md-12 height-100 div-border">
                    <div class="row">
                        <div class="panel panel-primary relative-pos radius-0 margin-0">
                            <div class="panel-heading radius-0">
                                <span align="left">Dashboard</span>
                                <span class="pull-right">date - date</span>
                            </div>
                            <div class="panel-body" style="padding:0px 5px !important" >
                                <div class="col-md-3 col-sm-6 col-xs-12 top-margin-sm">
                                    <div class="small-box div-border bg-light padding-lg" align="center">
                                        <h4>200</h4>
                                        <span>Total Assignments</span>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 top-margin-sm">
                                    <div class="small-box div-border bg-secondary">
                                        <div class="small-box div-border bg-light padding-lg" align="center">
                                            <h4 class="text-white">108</h4>
                                            <span class="text-white">No Attempt</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 col-xs-12 top-margin-sm">
                                    <div class="small-box div-border bg-secondary">
                                        <div class="small-box div-border bg-success padding-lg" align="center">
                                            <h4 class="text-white">48</h4>
                                            <span class="text-white">Successful</span>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-md-3 col-sm-6 col-xs-12 top-margin-sm">
                                    <div class="small-box div-border bg-secondary">
                                        <div class="small-box div-border bg-danger padding-lg" align="center">
                                            <h4 class="text-white">44</h4>
                                            <span class="text-white">Unsuccessful</span>
                                        </div>
                                    </div>
                                </div> 
                                <div class="clearfix"></div> 
                                <div class="col-md-6 col-sm-12 col-sx-12 top-margin-sm">
                                    <div class="div-border-solid medium-box">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h4>DELIVERIES</h4>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6" align="right">
                                            <h4>100</h4>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="padding-lg" id="delivery_chart"></div>
                                        <div class="col-md-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6" align="right">
                                                <span><strong>No Attempt</strong></span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <span class="label bg-secondary">60</span> &nbsp; 60%
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6" align="right">
                                                <span><strong>Successful</strong></span>  
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <span class="label bg-success">18</span> &nbsp; 18%
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6" align="right">
                                                <span><strong>Failed</strong></span> 
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <span class="label bg-danger">22</span>  &nbsp; 22%
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6" align="right">
                                                <span><strong>Efficiency</strong></span> 
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <strong><span ng-bind="(((22 + 18) / 100 * 100).toFixed(2) || '0') + '%'" ></span></strong>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br />
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12 col-sx-12 top-margin-sm">
                                    <div class="div-border-solid medium-box">
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <h4>PICKUPS</h4>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6" align="right">
                                            <h4>100</h4>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="padding-lg" id="pickup_chart"></div>
                                        <div class="col-md-12">
                                            <div class="col-md-6 col-sm-6 col-xs-6" align="right">
                                                <span><strong>No Attempt</strong></span>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <span class="label bg-secondary">48</span> &nbsp; 48%
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6" align="right">
                                                <span><strong>Successful</strong></span>  
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <span class="label bg-success">30</span> &nbsp; 30%
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6" align="right">
                                                <span><strong>Failed</strong></span> 
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <span class="label bg-danger">22</span>  &nbsp; 22%
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6" align="right">
                                                <span><strong>Efficiency</strong></span> 
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6">
                                                <strong><span ng-bind="(((22 + 30) / 100 * 100).toFixed(2) || '0') + '%'" ></span></strong>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>
        </div> 
        <div class="row">
            <div class="col-md-12 top-margin-sm">
                <uib-tabset active="vm.default_def">
                    <uib-tab ng-click="vm.selectTab('courier_deliveries')" index="'courier_deliveries'" heading="DELIVERIES" >
                        <complex-table vm="vm" options="vm.option_table" go-to="vm.goTo(data)" prev="vm.prev()" next="vm.next()" export-data="vm.exportData(data)"></complex-table>
                    </uib-tab>
                    <uib-tab ng-click="vm.selectTab('courier_pickups')" index="'courier_pickups'" heading="PICKUPS" >
                        <complex-table vm="vm" options="vm.option_table" go-to="vm.goTo(data)" prev="vm.prev()" next="vm.next()" export-data="vm.exportData(data)"></complex-table>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>