<div class="content-view">
    <div class="col-md-12 sub-header">
        <span class="subheader-title text-white" ng-bind="vm.titleHeader"></span><br />
    </div> 
    <button class="btn-circle-lg btn-fixed" type="button" ng-click="vm.createCustomerSupport()" >
        <i  class="fa fa-plus fa-lg text-white" ></i>
    </button> 
    <div class="col-md-12 top-margin-sm">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12" > 
                <div class="input-group" >
                    <input type="text" class="form-control" placeholder="Search" ng-model="vm.key" /> <!--ng-keyup="$event.keyCode == 13 && vm.filterTable(vm.keyword)"-->
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div> 
            </div> 
            <div class="col-md-8 col-sm-8 col-xs-12"></div>
        </div>
    </div> 
    <div class="clearfix"></div>
    <div class="col-md-12">
        <complex-table vm="vm" options="vm.option_table" go-to="vm.goTo(data)" ></complex-table>
    </div>
</div>

<script type="text/ng-template" id="template-user-management-customer-support-action">
    <div class="btn-group pull-right" uib-dropdown dropdown-append-to-body>
        <a id="btn-append-to-body" type="button" class="text-grey btn btn-trans pd-0-10" uib-dropdown-toggle>
            <i class="fa fa-ellipsis-v"></i>
        </a>
        <ul ng-if="!vm.deleted" class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" >
            <li role="menuitem">
                <a ui-sref="app.customer-support-details({ user_id:row.entity.user_id, site_id:row.entity.site_id })">
                    <i class="fa fa-info-circle"></i> &nbsp; Details
                </a>
            </li>
            <li role="menuitem" >
                <a ng-click="vm.handleUpdateItem(row.entity)">
                    <i class="fa fa-edit"></i> &nbsp; Update
                </a>
            </li> 
            <li class="divider" ></li>
            <li role="menuitem">
                <a ng-click="vm.handleHSActivation(row.entity, 'deactivate')">
                    <i class="fa fa-ban"></i>
                    Deactivate
                </a>
            </li> 
        </ul>
        <ul ng-if="vm.deleted" class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body" >
            <li role="menuitem">
                <a ng-click="vm.handleHSActivation(row.entity, 'reactivate')">
                    <i class="fa fa-edit"></i>
                    Reactivate
                </a>
            </li> 
        </ul>
    </div>
</script>