<div class="content-view">
    <div class="col-md-12 sub-header">
        <span class="subheader-title text-white" ng-bind="vm.titleHeader"></span><br />
    </div> 
    <div class="col-md-12 top-margin-sm">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">				
                <span class="control-label text-theme small">Select Hub</span>
                <select class="form-control text-uppercase" id="select"ng-model="vm.hub" ng-options="hub.id as hub.name for hub in vm.hubs" >
                    <option value="" class="text-uppercase">All</option>
                </select>
            </div>
            <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12" >
                <span class="control-label text-theme small">Select Zone</span>
                <select class="form-control text-uppercase" id="select"ng-model="vm.hub" ng-options="hub.id as hub.name for hub in vm.hubs" >
                    <option value="" class="text-uppercase">All</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12 top-margin-sm">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12" > 
                <div class="input-group" >
                    <input type="text" class="form-control" placeholder="Search Tracking No." ng-model="vm.t_no" /> <!--ng-keyup="$event.keyCode == 13 && vm.filterTable(vm.keyword)"-->
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div> 
            </div> 
            <div class="col-md-8 col-sm-8 col-xs-12"></div>
        </div>
    </div>
    <div class="col-md-12 top-margin-sm">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12" > 
                <div class="input-group" >
                    <input type="text" class="form-control" placeholder="Search Courier" ng-model="vm.courier" /> <!--ng-keyup="$event.keyCode == 13 && vm.filterTable(vm.keyword)"-->
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div> 
            </div> 
            <div class="col-md-8 col-sm-8 col-xs-12"></div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-md-offset-6 col-sm-offset-6 col-sm-6 col-xs-12" align="right">
        <button class="btn btn-sm btn-default top-margin-sm" >
            <i class="fa fa-print"></i> Print CMR/DRS
        </button>
        <button class="btn btn-warning btn-sm top-margin-sm">
            <i class="fa fa-refresh"></i> Transfer Assignments
        </button>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <uib-accordion close-others="true">
            <div uib-accordion-group class="panel-default top-margin-sm accord" ng-repeat="item in vm.dispatched" is-open="item.open">
                <uib-accordion-heading>
                    <div class="clearfix">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2" ng-click ="$event.preventDefault(); $event.stopPropagation();" > 
                                <a href="" title="Vehicle" ng-bind="item.lastName +', '+ item.firstName"></a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9" align="center">
                                <span class="" ng-cloak>Assignments : {{ item.assignments || '0' }}</span>
                            </div>
                            <div class="col-md-1 col-sm-1 col-xs-1" align="right" ng-click ="$event.preventDefault(); $event.stopPropagation();">
                                <a title="View vehicle details" ng-click="vm.viewVehicle(key.vehicleId)" >
                                    <i class="fa fa-info-circle fa-lg"></i>
                                </a> 
                                <a title="View CMR/DRS" >
                                    <i class="fa fa-list fa-lg"></i>
                                </a> &nbsp;
                                <i class="fa" ng-class="{'fa-caret-down': item.open, 'fa-caret-right': !item.open}"></i>
                            </div>
                        </div>
                    </div>
                </uib-accordion-heading>
                <complex-table vm="vm" options="vm.option_table" go-to="vm.goTo(data)" prev="vm.prev()" next="vm.next()" export-data="vm.exportData(data)"></complex-table> 
            </div> 
        </uib-accordion>
    </div>
</div>